<body>
        <mat-grid-list cols="3" rowHeight="145px">
                <mat-grid-tile colspan="3" rowspan="5">
                   <div class="property">
                       <mat-card>
                        <div class="first">
                             <mat-card-header>
                                <mat-card-title><h3>LOGIN</h3></mat-card-title>
                            </mat-card-header>
                        </div>
                        <div class="same">
                            <mat-form-field floatlable="auto" appearance="outline" color="primary">
                                    <mat-label ><mat-icon >lock</mat-icon><b>Username</b></mat-label>
                                <input matInput required>
                            </mat-form-field>
                        </div>
                        <div class="same">
                            <mat-form-field  floatlable="auto" appearance="outline" >
                                <input matInput required>
                                <mat-label   type="password" name="password"><b>password</b></mat-label>
                            </mat-form-field>
                        </div>
                        <div class="same">
                                <mat-card-actions>
                                        <button mat-raised-button routerLink="/DashboardComponent" color="primary" style="margin-left: 60px;" >Login</button>
                                           <br>
                                        <p>not Registred<a href="#" style="color:blue">Create an account</a>.</p>
                                   </mat-card-actions>

                        </div>
                    </mat-card>
                </div> 
                </mat-grid-tile>

        </mat-grid-list>
    
</body>